<!-- views/guide/user.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів - To the user</h1>
  </header>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/guide">Користувачі</a></li>
        <li><a href="/guide/user"> Найманий друг</a></li>
        <li><a href="/guide/gifts">Подарунки</a></li>
        <li><a href="/guide/events">Події</a></li>
        <li><a href="/guide/complaints">Скарги</a></li>
    </ul>
  </nav>
  <main>
    <h1>Скарги</h1>
    
    <section>
        <p>Скарга є вираженням невдоволення, незадоволення чи неприємностей, які можуть виникнути в результаті оренди друзів.</p>
        <p>Скарга є публічно видимою для всіх користувачів сервісу та стосується конкретного свята, на якому були присутніми і клієнт, що пише скаргу, і друг, на якого пишуть скаргу.</p>
        <p>Можна подати скаргу від групи друзів.</p>
      </section>
  
      <section>
        <h2>Події та деталі, які можуть викликати скаргу:</h2>
        <ul>
          <li><strong>Невідповідність:</strong> Клієнт може скаржитися, якщо найманий друг не відповідає їхнім очікуванням або не виконує визначені обов'язки.</li>
          <br></br>
          
          <li><strong>Неправильна Поведінка:</strong> Скарги можуть виникнути внаслідок неприйнятної чи непрофесійної поведінки найманого друга під час події.</li>
          <br></br>

          <li><strong>Невдачі в Інтеракціях:</strong> Проблеми взаємодії між клієнтом і найманим другом, такі як конфлікти, можуть призвести до скарг.</li>
          <br></br>
          
          <li><strong>Невідповідність Умовам Оренди:</strong> Скарги можуть виникнути, якщо найманий друг не дотримується умов, визначених угодою оренди.</li>
          <br></br>

        </ul>
      </section>
    

  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love - Скажені білочки</p>
  </footer>
</body>
</html>