// <!-- views/developer-requirements.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів - Developer</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/developer">Home</a></li>
      <!-- Перевірте, чи ці посилання вказані правильно -->
      <li><a href="/developer/requirements/tasks">Завдання</a></li>
      <li><a href="/developer/requirements/database-structure">Структура бази даних</a></li>
      <li><a href="/developer/requirements/user-interface">Користувацький інтерфейс</a></li>
      <li><a href="/developer/requirements/entities">Сутності</a></li>
      <li><a href="/developer/requirements/select-queries">SELECT запити</a></li>
    </ul>
  </nav>

  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love  -  Скажені білочки</p>  </footer>
</body>
</html>