<!-- views/developer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/developer/home">Home</a></li>
      <li><a href="/developer/requirements">Requirements</a></li>
    </ul>
  </nav>
  <main>
    <section id="requirements">
      <h2>Дякуємо за інтерес до розробки нашого сервісу "Оренда друзів". </h2>
      <p>Перейдіть до підрозділу "Вимоги",які допоможуть вам почати розробляти ваш сервіс</p>
      <ul>
          <li>Мова програмування: ми рекомендуємо використовувати JavaScript для розробки фронтенду та Node.js для бекенду.</li>
          <li>База даних: використовуйте MySQL для збереження даних про користувачів, події та інше.</li>
          <li>Фреймворки: для фронтенду використовуйте React або Vue.js, а для бекенду - Express.js.</li>
      </ul>
  </section>
  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love  -  Скажені білочки</p>
  </footer>
</body>
</html>