<!-- views/developer-requirements-entities.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів - Developer</h1>
  </header>
  <nav>
    <ul>
        <li><a href="/developer/home">Home</a></li>

        <li><a href="/developer/requirements/tasks">Завдання</a></li>
        <li><a href="/developer/requirements/database-structure">Структура бази даних</a></li>
        <li><a href="/developer/requirements/user-interface">Користувацький інтерфейс</a></li>
        <li><a href="/developer/requirements/entities">Сутності</a></li>
        <li><a href="/developer/requirements/select-queries">SELECT запити</a></li>    </ul>
  </nav>
  <main>
    <h2>Сутності</h2>
  
    <h3>Ролі:</h3>
    <ul>
      <li>Клієнт</li>
      <li>Найманий друг</li>
    </ul>
  
    <h3>Об'єкти:</h3>
    <ul>
      <li>Свято</li>
      <li>Подарунок</li>
    </ul>
  
    <h3>Події:</h3>
    <ul>
      <li>Клієнт наймає групу друзів на свято;</li>
      <li>Клієнт наймає друга для побачення;</li>
      <li>Клієнт дарує найманому другові подарунок;</li>
      <li>Найманий друг повертає подарунок клієнтові;</li>
      <li>Група клієнтів реєструє скаргу на найманого друга;</li>
      <li>Найманий друг бере вихідний;</li>
    </ul>
  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love  -  Скажені білочки</p>  </footer>
</body>
</html>