<!-- views/developer-requirements-database-structure.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів - Developer</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/developer/home">Home</a></li>

      <li><a href="/developer/requirements/tasks">Завдання</a></li>
      <li><a href="/developer/requirements/database-structure">Структура бази даних</a></li>
      <li><a href="/developer/requirements/user-interface">Користувацький інтерфейс</a></li>
      <li><a href="/developer/requirements/entities">Сутності</a></li>
      <li><a href="/developer/requirements/select-queries">SELECT запити</a></li>    </ul>
  </nav>
  <main>
    <h2>Структура бази даних</h2>
  <p>
    Під час проектування команда повинна нормалізувати структуру бази даних. Дотримуватись
    принаймні третьої нормальної форми (або вище на розгляд команди). В загальному
    схема бази даних повинна містити щонайменше:
  </p>
  <ul>
    <li>10 таблиць;</li>
    <li>20 зв’язків (зовнішніх ключів);</li>
    <li>5 індексів для оптимізації виконання запитів;</li>
    <li>5 обмежень даних (унікальність, відсутність значення та інше);</li>
  </ul>
  <p>
    Під час першої презентації команда повинна показати ER діаграму замовнику та описати
    структуру бази даних. Для другої презентації необхідна реалізована та наповнена
    (щонайменше 10 записів у кожній з таблиць) база даних.
  </p>
  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love  -  Скажені білочки</p>  </footer>
</body>
</html>
