<!-- views/guide/user.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів - To the user</h1>
  </header>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/guide">Користувачі</a></li>
        <li><a href="/guide/user"> Найманий друг</a></li>
        <li><a href="/guide/gifts">Подарунки</a></li>
        <li><a href="/guide/events">Події</a></li>
        <li><a href="/guide/complaints">Скарги</a></li>
    </ul>
  </nav>
  <main>
    <h1>Події</h1>
    <section>
        <h2>Оренда друзів на свято клієнтом:</h2>
        <ul>
          <li>Клієнт обирає свято для святкування.</li>
          <li>Клієнт наймає групу друзів для участі у святі.</li>
          <li>Група друзів приходить на свято та бере участь у події.</li>
        </ul>
      </section>
  
      <section>
        <h2>Наймання друга для побачення клієнтом:</h2>
        <ul>
          <li>Клієнт вирішує найняти друга для побачення.</li>
          <li>Клієнт вибирає конкретного друга для цієї події.</li>
        </ul>
      </section>
  
      <section>
        <h2>Дарування подарунка найманому другові:</h2>
        <ul>
          <li>Клієнт обирає подарунок для найманого друга.</li>
          <li>Клієнт дарує подарунок найманому другові.</li>
        </ul>
      </section>
  
      <section>
        <h2>Повернення подарунка найманим другом:</h2>
        <ul>
          <li>Найманий друг може вирішити повернути подарунок клієнту.</li>
        </ul>
      </section>
  
      <section>
        <h2>Реєстрація скарги групою клієнтів на найманого друга:</h2>
        <ul>
          <li>Група клієнтів реєструє скаргу на поведінку чи надані послуги найманого друга.</li>
        </ul>
      </section>
  
      <section>
        <h2>Бере вихідний найманий друг:</h2>
        <ul>
          <li>Найманий друг бере вихідний.</li>
        </ul>
      </section>
      <br></br>
      <br></br>

  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love - Скажені білочки</p>
  </footer>
</body>
</html>
