<!-- views/guide/user.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів - To the user</h1>
  </header>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/guide">Користувачі</a></li>
        <li><a href="/guide/user"> Найманий друг</a></li>
        <li><a href="/guide/gifts">Подарунки</a></li>
        <li><a href="/guide/events">Події</a></li>
        <li><a href="/guide/complaints">Скарги</a></li>
    </ul>
  </nav>
  <main>
    <h1>Подарунки</h1>
    
    <section>
        <h2>Основна функція: Подарунок</h2>
        <p>Подарунок є предметом чи послугою, яку клієнт може дарувати своєму найманому другові.</p>
      </section>
  
      <section>
        <h2>Дії та відповідальності:</h2>
        <ul>
          <li><strong>Дарування подарунка:</strong> Клієнт може вибрати та подарувати подарунок найманому другові з певної нагоди.</li>
          <li><strong>Повернення подарунка:</strong> Найманий друг може повернути подарунок клієнту, наприклад, у випадку, якщо він не може його прийняти або з інших причин.</li>
        </ul>
      </section>
  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love - Скажені білочки</p>
  </footer>
</body>
</html>