<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/guide">Користувачі</a></li>
      <li><a href="/guide/user"> Найманий друг</a></li>
      <li><a href="/guide/gifts">Подарунки</a></li>
      <li><a href="/guide/events">Події</a></li>
      <li><a href="/guide/complaints">Скарги</a></li>
    </ul>
  </nav>
  <main><h1>Користувачі</h1>
    
    <section>
      <h2>Клієнт</h2>
      <p><strong>Основна функція:</strong> Клієнт - це особа, яка орендує друзів для різних заходів та подій.</p>
      <p><strong>Головна мета клієнта:</strong> Зробити своє святкування чи подію неповторними та цікавими.</p>
      
      <h3>Дії та відповідальності:</h3>
      <ul>
        <li>Оренда друзів: </li>
        <ul>Вибір та оренда друзів для різноманітних подій, таких як  святкування.</ul>
        <li>Визначення умов: </li>
        <ul>Встановлення умов і правил оренди, таких як час, тривалість, вид події та інші.</ul>
        <li>Подарунки: </li>
        <ul>Надання подарунків своїм друзям на певних умовах або подіях.</ul>
        <li>Клієнт може наймати групу друзів для активного та веселого участі у святкуванні.</li>
      </ul>
      
      <h3>Інтеракція з іншими сутностями:</h3>
      <ul>
        <li>Взаємодія з Найманими друзями: В</li>
        <ul>становлення контакту та взаємодія з друзями, яких клієнт орендує.</ul>
        <li>Реєстрація подій: </li>
        <ul>Фіксація та реєстрація подій, на які клієнт орендує друзів.</ul>
      </ul>
      
      <h3>Скарги:</h3>
      <ul>
        <li>Реєстрація скарг: </li>
        <ul>Можливість подання скарг щодо наданих
          послуг чи поведінки найманих друзів.</ul>
        <li>Вирішення конфліктів: </li>
        <ul>Участь в процесі вирішення конфліктів, 
          якщо вони виникають під час оренди.</ul>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love  -  Скажені білочки</p>
  </footer>
</body>
</html>