<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Оренда друзів</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/guide">To the user</a></li>
      <li><a href="/developer">Developer</a></li>
    </ul>
  </nav>
  <main>
    <h1>Ласкаво просимо на інформаційний сайт серверу                      "Оренда друзів"!</h1>
    <p>✨ Наш сервіс створений, щоб зробити ваші свята та події надзвичайними. Орендуйте друзів для веселих святкувань, цікавих побачень або просто для підтримки у важливі моменти. З нами кожен момент стає неповторним та надзвичайним.</p>
    <p>🎉 Щоб робити користування нашим сервісом ще комфортніше, ми пропонуємо широкий вибір функціоналу та інформації. Використовуйте всі можливості нашого сервісу та насолоджуйтеся якісними моментами разом із "Оренда друзів".</p>
    <p>🌟 Бажаємо вам приємного користування та незабутніх вражень! </p> 
    <img src="f.jpg" style="width: 1000px; height: 400px;" >

  
  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love  -  Скажені білочки</p>

  </footer>
</body>
</html>