<!-- views/guide/user.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title><%= title %></title>
</head>
<body class="guide-user"></bodyclass>>
  <header>
    <h1>Оренда друзів - To the user</h1>
  </header>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>

      <li><a href="/guide">Користувачі</a></li>
      <li><a href="/guide/user"> Найманий друг</a></li>
      <li><a href="/guide/gifts">Подарунки</a></li>
      <li><a href="/guide/events">Події</a></li>
      <li><a href="/guide/complaints">Скарги</a></li>
    </ul>
  </nav>
  <main>
    

    <section>
      <h2>Найманий друг</h2>
      <p><strong>Основна функція:</strong> </p>
      <ul>Найманий друг - це особа, яка доступна для оренди та
       </ul>
       <ul> взаємодії з клієнтами для різних подій та ситуацій.</ul>

      <h3>Дії та відповідальності:</h3>
      <ul>
        <li>Участь у подіях: </li>
        <ul>Активна участь у подіях, на які його орендували.</ul>
        <li>Спілкування та підтримка:</li>
        <ul> Надання підтримки та забезпечення позитивного
          спілкування під час подій.</ul>
        <li>Виконання завдань: </li>
        <ul>Виконання конкретних завдань або ролей на подіях.</ul>
      </ul>

      <h3>Інтеракція з іншими сутностями:</h3>
      <ul>
        <li>Взаємодія з клієнтами: </li>
        <ul>Забезпечення приємної взаємодії та відповідь на потреби клієнтів.</ul>
        <li>Повернення подарунків: </li>
        <ul>У випадку подарунків, повернення або відповідна відповідь.</ul>
        <br></br>
        <br></br>

      </ul>

  </main>
  <footer>
    <p>&copy; 2023 Оренда друзів</p>
    <p>&copy; Made with love - Скажені білочки</p>
  </footer>
</body>
</html>
